mixin product-card(data)
  a.product-card(href=data.href)
    .product-card__image
      +img("content/catalog", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
    p.product-card__type!=data.type
    h3.product-card__title!=data.title
    .product-card__price-wrapper
      p.product-card__price(class={"product-card__price--orange" : data.oldPrice})!=data.price
      if (data.oldPrice)
        p.product-card__old-price!=data.oldPrice
    +btn({type: "button", text: "Смотреть"}).btn--black.product-card__button
